@model IEnumerable<OhmCalculator.Models.Band>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (var item in Model)
    {
        listItems.Add(new SelectListItem() { Text = item.Color, Value = item.Color });
    }
}

<div id="bands-container">
    <h2 style="text-align: center;">Choose Bands</h2>

    <br />
    <div style="display:inline-block">
        @Html.DropDownList("BandA", listItems, "BandA", new { @class = "form-control" })
    </div>

    <div style="display:inline-block">
        @Html.DropDownList("BandB", listItems, "BandB", new { @class = "form-control" })
    </div>

    <div style="display:inline-block">
        @Html.DropDownList("BandC", listItems, "BandC", new { @class = "form-control" })
    </div>

    <div style="display:inline-block">
        @Html.DropDownList("BandD", listItems, "BandD", new { @class = "form-control" })
    </div>
    <br />

    @*<p style="position:center">*@
    <div style="display:inline-block; padding-top:10px;">
        <button id="submit">Calculate</button>
        <br />

        <label style="padding-top:20px; font-size:12px;" id="ohmMinValue"></label>
        <br />
        <label style="padding-top:10px; font-size:12px;" id="ohmMaxValue"></label>
    </div>
    @*</p>*@
</div>
<br />
<br />

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit').click(function (e) {
                var BandAColor = $('#BandA').val();
                var BandBColor = $('#BandB').val();
                var BandCColor = $('#BandC').val();
                var BandDColor = $('#BandD').val();

                $('#ohmMinValue').text("");
                $('#ohmMaxValue').text("");

                $.ajax({
                    type: "GET",
                    url: "/OhmCalculator/Calculate/?BandA=" + BandAColor + "&BandB=" + BandBColor + "&BandC=" + BandCColor + "&BandD=" + BandDColor + "",
                    data: null,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //alert("MinValue: " + response.minValue + " MaxValue:" + response.maxValue);
                        //$('#ohmValue').text("MinValue: " + response.minValue + " MaxValue:" + response.maxValue)
                        $('#ohmMinValue').text("Minimum Resistance: " + response.minValue + " Ohms")
                        $('#ohmMaxValue').text("Maximum Resistance: " + response.maxValue + " Ohms")
                    },
                    failure: function (response) {
                        alert('failed');
                    },
                    error: function (response) {
                        alert('error occured');
                    }
                });
            });

            $('#BandA').change(function () {                
                var Id = $(this).children(':selected').attr('value');                
                if (Id == "") $("#BandA").css('background-color', "None");                               
                $("#BandA").css('background-color', Id);
            });

            $('#BandB').change(function () {
                var Id = $(this).children(':selected').attr('value');
                if (Id == "") $("#BandB").css('background-color', "None");
                $("#BandB").css('background-color', Id);
            });

            $('#BandC').change(function () {
                var Id = $(this).children(':selected').attr('value');
                if (Id == "") $("#BandC").css('background-color', "None");
                $("#BandC").css('background-color', Id);
            });

            $('#BandD').change(function () {
                var Id = $(this).children(':selected').attr('value');
                if (Id == "") $("#BandD").css('background-color', "None");
                $("#BandD").css('background-color', Id);
            });
        });
    </script>
}
@section Styles
{
    <style>
        #bands-container {
            width: 80%;
            height: 100%;
            border: 1px solid none; /** for viewing purposes **/
            text-align: center; /** center the divs **/
            font-size: 12px; /** remove the unwanted space caused by display: inline-block in .child **/
        }

        #submit {
            height: 30px;
            width: 120px;
        }
    </style>
}

